input_file_group:
  # REQUIRED: list of paths to CSLC files.
  #   Type: array.
  cslc_file_list:
  # REQUIRED: Frame ID of the bursts contained in `cslc_file_list`.
  #   Type: integer.
  frame_id:
dynamic_ancillary_file_group:
  # REQUIRED: Path to file containing SAS algorithm parameters.
  #   Type: string.
  algorithm_parameters_file: algorithm_parameters_historical_20250915.yaml
  # Paths to the CSLC static_layer files (1 per burst) with line-of-sight unit vectors. If
  #   none provided, corrections using CSLC static_layer are skipped.
  #   Type: array.
  static_layers_files:
  # Optional Byte mask file used to ignore low correlation/bad data (e.g water mask).
  #   Convention is 0 for no data/invalid, and 1 for good data. Dtype must be uint8.
  #   Type: string | null.
  mask_file:
  # Path to the DEM file covering full frame. If none provided, corrections using DEM are
  #   skipped.
  #   Type: string | null.
  dem_file:
  # List of paths to TEC files (1 per date) in IONEX format for ionosphere correction. If none
  #   provided, ionosphere corrections are skipped.
  #   Type: array | null.
  ionosphere_files:
  # List of paths to troposphere weather model files (1 per date). If none provided,
  #   troposphere corrections are skipped.
  #   Type: array | null.
  troposphere_files:
static_ancillary_file_group:
  # JSON file containing frame-specific algorithm parameters to override the defaults passed
  #   in the `algorithm_parameters.yaml`.
  #   Type: string | null.
  algorithm_parameters_overrides_json: opera-disp-s1-algorithm-parameters-overrides-2025-09-15.json
  # JSON file containing the mapping from frame_id to frame/burst information.
  #   Type: string | null.
  frame_to_burst_json: static_ancillary_files/opera-s1-disp-0.9.0-frame-to-burst.json.zip
  # JSON file containing list of reference date changes for each frame.
  #   Type: string | null.
  reference_date_database_json: static_ancillary_files/opera-disp-s1-reference-dates-2025-01-15-minimal.json
primary_executable:
  # Product type of the PGE.
  #   Type: string.
  product_type: DISP_S1_HISTORICAL
product_path_group:
  # REQUIRED: Directory where PGE will place results.
  #   Type: string.
  product_path: output/historical
  # Path to the scratch directory.
  #   Type: string.
  scratch_path: scratch/historical
  # Path to the SAS output directory.
  #   Type: string.
  sas_output_path: output/historical
  # Version of the product, in <major>.<minor> format.
  #   Type: string.
  product_version: '0.4'
  # Whether the SAS should output and save the Compressed SLCs in addition to the standard
  #   product output.
  #   Type: boolean.
  save_compressed_slc: true
worker_settings:
  # Whether to use GPU for processing (if available).
  #   Type: boolean.
  gpu_enabled: false
  # Number of threads to use per worker. This sets the OMP_NUM_THREADS environment variable in
  #   each python process.
  #   Type: integer.
  threads_per_worker: 2
  # If processing separate spatial bursts, number of bursts to run in parallel for wrapped-
  #   phase-estimation.
  #   Type: integer.
  n_parallel_bursts: 9
  # Size (rows, columns) of blocks of data to load at a time.
  #   Type: array.
  block_shape:
    - 512
    - 512
# Path to the output log file in addition to logging to stderr.
#   Type: string | null.
log_file: scratch/historical/log_sas.log
